body {
    padding: 0;
    margin: 0;
    background:  rgb(216, 216, 216);
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    padding: 10px 10%;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rgb(73, 73, 238);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: #5480c2;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  /* end sidebar*/

.alert {
    padding: 20px;
    background-image: linear-gradient(to right, rgb(61, 60, 60), rgb(119, 119, 119));
    color: white;
    transition-timing-function: linear;
}

.form-container {
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, 0.5);
    margin-top: 50px;
    padding: 10px 30px 10%;
    border-radius: 5px;
    background: white;
    min-height: 80vh;
  }
  
  .custom-input {
    height: 30px;
    line-height: 30px;
    width: 99.2%;
    font-size: 18px;
    border: 2px solid #43ad55;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .btn-primary {
    background: #4590c2;
    height: 42px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  .btn-primary:hover {
    cursor: pointer;
    background: #174877;
  }
  
  .dropbtn:hover {
    cursor: pointer;
  }
